body {
    margin: 40px;
  }
  
  .sidebar {
    grid-area: sidebar;
    /* TODO: Define the grid area here */
    
  }
  
  .content {
    grid-area: content;
    /* TODO: Define the grid area here */
  }
  
  .header {
    grid-area: header;
    /* TODO: Define the grid area here */
  }
  
  .footer {
    grid-area: footer;
    /* TODO: Define the grid area here */
  }
  
  .wrapper {
    display: grid;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
    /* TODO: Define the grid-template-columns and grid-template-areas values here. */
    grid-template-columns: 120px 120px 120px;
    grid-template-areas: 
      '....... header header'
      'sidebar content content'
      'footer  footer  footer';
  }
  
  .box {
    background-color: #0000ff;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
  }
  
  .header,
  .footer {
    background-color: #999;
  }
  